body {
	background: #f3cdcdd3 url('imagens/fundo.png');
	font: 16px Verdana, Arial, sans-serif;
}

div {
	display: block;
	font-size: 18px;
}


h1 {
	color: #828282;
	font: 1.2em Verdana, Arial, sans-serif;
}

h2 {
	font: 20px Verdana, Arial, sans-serif;
}

.title {
	color: #DCDCDC;
}

#navegacao {
	width: 860px;
	background-color: #c5c5b2;
	padding: 18px;
}

.text {
	width: 860px;
	background-color: white;
	padding: 20px;
}

#principal {
	width: 900px;
}

#fotos {
	border: 10px solid gray;
}

a:link, a:visited {
  background-color: #c5c5b2;
  font-weight: bold;
  color: darkgrey;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: none;
}

.centralizar {
	text-align: center;
}